# Akvorado Console Configuration
# Web UI configuration

http:
  cache:
    type: redis
    server: redis:6379

database:
  saved-filters:
    - description: "All Traffic"
      content: >-
        InIfBoundary = internal OR OutIfBoundary = internal
    - description: "External Traffic"
      content: >-
        InIfBoundary = external OR OutIfBoundary = external
    - description: "Inbound Traffic"
      content: >-
        InIfBoundary = external
    - description: "Outbound Traffic"
      content: >-
        OutIfBoundary = external
